@import "~src/styles";
$login-btn: #1997c7;
$sign-up-btn: #1bc98e;

.login-form-input {
  border: none;
  border-bottom: 1px solid transparent;
  margin: 10px 0;
  padding: 10px;
  color: $black;
  transition: all .3s ease;

  &:focus {
    outline: none;
    border-bottom: 1px solid $initials-border;
  }
}

.sign-up-btn, .login-btn {
  display: flex;
  border: none;
  border-radius: 5px;
  padding: 12px 36px;
  color: $white;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.login-btn {
  background-color: $google-light-blue;
}

.sign-up-btn {
  background-color: $google-teal;
}
