<notifier-container></notifier-container>
<form fxLayout="column">
  <input class="login-form-input"
         type="text"
         placeholder="Login"
         name="login"
         [(ngModel)]="login"
         autocomplete="off">
  <input class="login-form-input"
         type="password"
         placeholder="Password"
         name="password"
         [(ngModel)]="password"
         autocomplete="off">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button (click)="apply()" class="login-btn">Log in</button>
    <button (click)="signUp()" class="sign-up-btn">Sign Up</button>
  </div>
</form>

