@import "~src/styles";

body {
  height: 100vh;
}

.main-form-container {
  display: flex;
  justify-content: center;
  height: 100%;
  background: url("../../assets/images/app-start-background-1.png") no-repeat center center;
  background-size: cover;

  .main-form {
    border-radius: 5px;
    background-color: $white;
    margin-top: 10%;
    width: 450px;
    height: fit-content;

    &-header {
      margin-top: 12px;
      height: 32px;
      width: 100%;
      padding: 0 20px 10px 20px;
      border-bottom: 1px solid $light-grey;
    }

    &-content {
      padding: 0 12px 12px 12px;
      width: 100%;
    }
  }
}
