//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '~@angular/material/prebuilt-themes/purple-green.css';

@import '~angular-notifier/styles.scss';

$black: #333;
$grey: #666;
$table-grey: #999;
$white: #fff;
$light-grey: #b3b3b3;
$lighter-grey: #c6c6c6;
$super-light-grey: #f7f7f7;

$light-border: #e6e6e6;
$grey-border: #cccccc;
$breadcrumbs-bg: #F3F1ED;

$light-bg: #fafafa;
$middle-bg: #f5f2e9;
$ivory-bg: #faf8f4;

$disabled-bg: #dddddd;
$disabled-border: #ccd6da;

$super-light-green: #00acc1;
$green: #00838f;
$light-green: #008491;
$green-grey: #4c626c;
$orange: #ff5126;
$dark-orange: #ff501d;
$yellow: #fcee21;
$dark-yellow: #f8b351;
$red: #ff4747;
$rose: #f39292;

$green-transparent: scale_color($green, $alpha: -50%);
$grey-transparent: scale_color($grey, $alpha: -80%);

$light-gradient-start: #6c8796;
$light-gradient-end: #7795a6;

$dark-gradient-start: #698492;
$dark-gradient-end: #4c626c;

$grey-button-gradient-start: #e8e8e8;
$grey-button-gradient-end: #fff;

$light-gradient: linear-gradient(0deg, $light-gradient-start, $light-gradient-end);
$light-horisontal-gradient: linear-gradient(-90deg, $light-gradient-start, $light-gradient-end);
$dark-gradient: linear-gradient(0deg, $light-gradient-start, $light-gradient-end);
$grey-button-gradient: linear-gradient(0deg, $grey-button-gradient-start, $grey-button-gradient-end);

$blue-gradient: linear-gradient(to bottom, #ffffff, #f3f8fb);

$orange: #fd6a2a;
$orange-red: #ff501d;

//  TODO: ensure this is right way to define every color in globals
$green-grey-light: #6b8796;
$green-grey-darkest: #444b53;
$light-grey-lighter: #a1a1a1;
$light-grey-bg: #f9f9fa;

$border-light: #d5d5d5;
$header-bg-light: #fbf9f3;

$slider-bg: rgba(216, 216, 216, 1);
$translucent: rgba(0, 0, 0, 0.5);

$button-grey-bg: #738fa0;
$title-grey: #999;
$initials-border: #2589de;

$border-light: #d5d5d5;
$header-bg-light: #fbf9f3;

$slider-bg: rgba(216, 216, 216, 1);

$module-header: #f7f9fa;
$module-name: #6b8695;
$is-game-app: #759aeb;
$is-test: #8cc93c;
$is-lesson-template: #b879f2;
$is-book: #f06448;
$lesson-block-border: #eeeeee;

$google-teal: #009688;
$google-light-blue: #03A9F4;
$google-red: #F44336;
$google-indigo: #3F51B5;
$google-green: #4CAF50;
$google-amber: #FFC107;

